
    <!-- Start Footer -->
    <footer>
      <div class="container">
          <div class="row text-center">



              <div class="col-lg-1 col-sm-12">
                  <div class="scroll-to-top wow fadeIn">
                      <i class="fa fa-arrow-up fa-2x" id="scroll-top"></i>
                  </div>
              </div>



              <div class="col-lg-1 col-sm-12">
                  <div class="logo wow fadeIn">
                      <img src="assets/imgs/all-sections/logo.svg" alt="">
                  </div>
              </div>



              <div class="col-lg-4 col-sm-12">
                  <div class="social-links wow fadeIn">
                    <a href="{{links.google}}"> <i class="fa-1 fa fa-google-plus"></i></a>
                      <a href="{{links.facebook}}"> <i class="fa-2 fa fa-facebook"></i></a>
                   <a href="{{links.twitter}}">    <i class="fa-3 fa fa-twitter"></i></a>
                  </div>
                  <p class="lead start">{{'right_save' | translate}}</p>
              </div>



              <div class="col-lg-3 col-sm-12">
                  <ul class="list-unstyled links">
                      <li class="wow fadeIn"><a routerLink="/about-faleh-home" routerLinkActive="active1">{{'about_faleh' | translate}}</a></li>


                      <li class="wow fadeIn"><a routerLink="/support-home" routerLinkActive="active1">{{'tech' | translate}}
                      </a></li>
                      <li class="wow fadeIn"><a  routerLink="/terms-of-service-home" routerLinkActive="active1">{{'condatin' | translate}}

                      </a></li>
                      <li class="wow fadeIn"><a routerLink="/staff-home" routerLinkActive="active1">{{'tem_work' | translate}}
                        </a></li>
                      <li class="wow fadeIn"><a routerLink="/how-it-works-home" routerLinkActive="active1">
                          {{'how_work' | translate}}
                         </a></li>
                  </ul>
              </div>

                 <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="download-section text-center">
                    <h3 class="bl-head">{{'download'|translate}}</h3>
                    <div class="chevron"><i class="fa fa-chevron-down fa-2x"></i></div>
                    <a href="https://itunes.apple.com/gb/app/faleh/id1444336867">
                      <img class="img-fluid image1" src="assets/imgs/index/apple_store.svg" alt="">
                    </a>

                    <a href="https://play.google.com/store/apps/details?id=com.ev.phaleh">
                      <img class="img-fluid image2" src="assets/imgs/index/google_play.svg" alt="">
                    </a>
                </div>
            </div>
          </div>
          <p class="lead end visible-xs text-center">{{'right_save' | translate}}</p>
      </div>
    </footer>
    <!-- End Footer -->


    <!-- End Overlay Loading -->
