

<div >

	<div class="row">
		<div class="col-lg-12">
			<h2>{{'new_services'|translate}}</h2>
			<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let person of errors"
			dismiss-on-timeout="20">
			<strong>{{person}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div *ngIf="error1" class="alert alert-warning alert-dismissible fade show" role="alert" dismiss-on-timeout="20">
			<strong>{{error1}}</strong> 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<form #userForm="ngForm" novalidate  (ngSubmit)="createOrder()" >

			<ngx-spinner>
				<p style="font-size: 20px; color: white">{{'loading_order'|translate}}</p>
			</ngx-spinner>
			

			<div *ngFor="let question of questions">
				<ng-container *ngIf="question.type =='text'; else second">
					<div class="form-group">
						<label for="name">{{question.name}}</label>
						<input type="text" class="form-control" id="name" aria-describedby="nameHelp" required #name="ngModel"[class.is-invalid]="name.invalid && name.touched" name="{{'q_'+question.id+'_'+question.type}}" [(ngModel)]="OrderValue['q_'+question.id+'_'+question.type]">
					</div>
				</ng-container>
				<!--  chooce -->
				<ng-template #second>
					<ng-container *ngIf="question.type == 'choices'; else third">

						<ng-container *ngIf="question.key =='shipment'; else vvv">
							<!--  delavry -->
							<div class="form-group">
								<label >{{question.name}}</label>


								<select style='padding-left: 10px' class="form-control custom-select" required #shipment="ngModel"[class.is-invalid]="shipment.invalid && shipment.touched"  name="{{'q_'+question.id+'_'+question.type}}" [(ngModel)]="OrderValue['q_'+question.id+'_'+question.type]"  >

									<option value="1"  >{{'yes'|translate}} </option>
									<option value="0"  >{{'no'|translate}} </option>
								</select>

							</div>
						</ng-container>
						<!--  end delavry -->
						<!--  payment -->

						<ng-template #vvv>
							<ng-container *ngIf="question.key == 'payment'">

								<div class="form-group">
									<label >{{question.name}}</label>

									<select style='padding-left: 10px' class="form-control custom-select" required #payment="ngModel"[class.is-invalid]="payment.invalid && payment.touched"  name="{{'q_'+question.id+'_'+question.type}}" [(ngModel)]="OrderValue['q_'+question.id+'_'+question.type]"  >

										<option value="1"  >{{'cash'|translate}} </option>
										<option value="0"  >{{'credit_card'|translate}} </option>
									</select>

								</div>
							</ng-container>
						</ng-template>
						<!-- end payment -->
					</ng-container>
				</ng-template>

				<!-- end chooce -->
				<!--  file -->
				<ng-template #third>
					<ng-container *ngIf="question.type == 'file'; else fourd">

						<div class="form-group" style="overflow: hidden;">
							<label style="display: block;">{{question.name}}</label>
							<div class="customize-file">
								{{'chosse-file'|translate}}
								<i class="fa fa-upload" aria-hidden="true"></i>

								<input type="file" class="hide_file" name="{{'q_'+question.id+'_'+question.type}}" id="exampleFormControlFile1"   (change)="readUrl('q_'+question.id+'_'+question.type+'[]', $event)" #fileInput>
							</div>
						</div>

						


						<div>
							
						</div>
						<!-- this div for makeing foreach of files  -->
						<div class="row">
							<div *ngFor='let item of urls; let i = index' class="col-xs-4 position-relative">
								<img   src="https://cdn.fileinfo.com/img/fv/file_viewer_android.png"height="130"  style="display:inline; "> <br/>
								<p class="text-wrap width-120px" >{{fileNames[i]}}</p>
								<button class="btn btn-danger btn-delete-file" (click)="deleteFileDetails(i)"><i class="fa fa-close"></i></button>
							</div>
						</div>

					</ng-container>
				</ng-template>

				<!--  end file -->
				<!--  sound -->
				<ng-template #fourd>
					<ng-container *ngIf="question.type == 'sound'; else five">

						<div class="form-group">
							<label >{{question.name}}</label>
							<br>
							<a style="color: #FFF;background-color: #2598c4;border-color:#2598c4" (click)="initiateRecording()" class="btn btn-primary hvr-shadow start" *ngIf="!recording">  {{'Start'|translate}} </a>
							<a style="color: #FFF" (click)="stopRecording('q_'+question.id+'_'+question.type+'[]')" class="btn btn-danger hvr-shadow stop" *ngIf="recording"> {{'Stop'|translate}}  </a>
							<div class="clearfix"></div>
							<div *ngFor="let url of url_sounds; let i = index">
								<audio class="audio-btb"  controls=""  *ngIf="url">
									<source [src]="sanitize(url)" type="audio/wav" >

									</audio>
									<button style="width: 26px;
									font-size: 17px;
									background-color: #820a0a;
									margin-right: 25px;
									margin-left: 10px;
									border: 1px solid #820a0a;
									border-radius: 50%;
									cursor: pointer;
									color: #fff;
									position: relative;
									top: -20px !important;

									padding: 0px;" (click)="deleteSoundDetails(i)" class="btb">x</button>
								</div>

							</div>
						</ng-container>
					</ng-template>
					<!-- end sound -->
					<!--  location -->
					<ng-template #five>
						<ng-container *ngIf="question.type == 'location'; else sexz">
							<label for="name">{{question.name}}</label>
							<input type="hidden" name="{{'q_'+question.id+'_'+question.type}}" [(ngModel)]="OrderValue['q_'+question.id+'_'+question.type]||OrderValue['q_'+question.id+'_'+question.type]=location" [formControl]="locationController" [value]="location" >
							<agm-map [latitude]="lat" [longitude]="lng"      (mapClick)="placeMarker($event)" style="height: 200px" >

								<agm-marker  [latitude]="lat" [longitude]="lng" ></agm-marker>
							</agm-map>


						</ng-container>
					</ng-template>
					<!-- end location -->
					<!--  longText -->
					<ng-template #sexz>
						<ng-container *ngIf="question.type == 'longText'">
							<div class="form-group">
								<label for="name">{{question.name}}</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="8" cols="80"  required #longText="ngModel"[class.is-invalid]="longText.invalid && longText.touched"  name="{{'q_'+question.id+'_'+question.type}}" [(ngModel)]="OrderValue['q_'+question.id+'_'+question.type]" ></textarea>

							</div>

						</ng-container>
					</ng-template>
					<!-- end longText -->

				</div>
				<button style="margin-top: 10px;display: block;
				margin: 20px auto" type="submit"  [disabled]="userForm.form.invalid" class="btn btn-primary hvr-shadow sav">{{'save'|translate}}</button>




			</form>

		</div>
	</div>
</div>