<h1  *ngIf="setrole=='client'">تسجيل دخول   طالب خدمه</h1>
<h1  *ngIf="setrole=='provider'">    تسجيل دخول  مقدم خدمه</h1>

<div *ngIf="error1" class="alert alert-warning alert-dismissible fade show" role="alert" dismiss-on-timeout="20">
  <strong>{{error1}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let person of errors" dismiss-on-timeout="20">
  <strong>{{person}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>

<form #userForm="ngForm" novalidate (ngSubmit)="onchange()"> 


  <div class="form-group">
    <label for="exampleInputEmail1">{{'email'|translate}}</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'email'|translate}}" [(ngModel)]="loginValue.email" name="email" required="required">
  </div>

  <div class="form-group">
    <label for="password">{{'password'|translate}}</label>
    <input type="password"  class="form-control" id="password" aria-describedby="password" placeholder="{{'password'|translate}}" [(ngModel)]="loginValue.password" name="password" required="required">

  </div>

  <button type="submit" [disabled]="userForm.form.invalid"class="btn btn-primary hvr-shadow" style="margin-top: 0">{{'login'|translate}}</button>

    <a routerLink="/user-registration" routerLinkActive="active" class="btn btn-primary hvr-shadow main-btn " style="margin-right: 10px;" *ngIf="setrole=='client'">تسجيل جديد</a>



    <a routerLink="/provider-registration" routerLinkActive="active" class="btn btn-primary hvr-shadow main-btn" *ngIf="setrole=='provider'" style="margin-right: 10px;">تسجيل جديد</a>
  

  <div class="row">

    <div class="col-6">
      <a style="color: #2598c4" routerLink="/resset-password" routerLinkActive="active">       
       <span>هل نسيت كلمة المرور ؟</span></a>

     </div>
   </div>

 </form>

