<div class="edit-user-page">
	<div class="row">
		<div class="col-lg-12">
			<h2> {{'add-issue' | translate}}</h2>


  <form #userForm="ngForm" novalidate (ngSubmit)="addissue()"> 


 


	<div class="form-group">
			<label for="last_works">{{'write-issue'|translate}}</label>
			<textarea  class="form-control" id="issue" rows="3"  required name="issue" [(ngModel)]="issue"></textarea>

		</div>

  <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary hvr-shadow">{{'save'|translate}}</button>
</form>
</div>
	</div>
</div>