
    <!-- Error Page -->

    <div class="error-page text-center" style="margin-top:100px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 style="font-size:160px;font-weight:800;color: #2398c4">404</h1>
                    <h6>{{'error'|translate}}</h6>
                    <a  routerLink="" routerLinkActive="active1" style="color: #2398c4">{{'home'|translate}}</a>
                </div> 
            </div>
        </div>
    </div>
