      <div class="all-section">
                       <h2>{{'subcategories'|translate}}</h2>
                       <div class="container-fluid">
                         <div class="row">

                           <!-- START IMAGE -->
                           <div class="col-md-4 col-sm-6" *ngFor="let item of sub_categories">
                             <div class="img" (click)="changeToNewOrder(item.id)">
                                 <img src="{{item.photo}}" class="img-fluid"  style="background-image: url('assets/imgs/index/logo.svg');background-repeat:no-repeat; background-size: cover; ">
                                 <div class="overlay">
                                     <p>{{item.name}}</p>
                                 </div>
                             </div>
                           </div>
                           <!-- END IMAGE -->

                          
                           <!-- END IMAGE -->

                         </div>


                         </div>
                        </div>